<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{!-- Tailwinds CSS stylesheet --}}
    <script src="https://cdn.tailwindcss.com"></script>
    {{!-- Custom CSS stylesheet --}}
    <link rel="stylesheet" href="../../public/css/styles.css">
    <title>Document</title>
</head>
<body>
    <header class="navbar">
        <nav>
            {{#if loggedIn}}
                <a href="/">Home</a>
                <a href="/dashboard">Dashboard</a>
                <a href="/logout">Logout</a>
            {{else}}
                <a href="/">Home</a>
                <a href="/login">Login</a>
            {{/if}}
        </nav>
    </header>
    <h1>Welcome to Fitness Buddy</h1>

    <main>
        {{{ body }}}
    </main>
    
    {{!-- Link the JS file --}}
    <script src=""></script>
</body>
</html>