<div class="profile-container">
    <h1 class="text-white text-center text-lg">{{name}}'s Dashboard</h1>
    <section id="goals-section" class="text-center">
        <div id="goals" class="grid grid-cols-2 my-6">
            <div id="current-weight" class="col-span-1">
                <label class="text-white">Current Weight: </label>
                <input type="number" id="input-current-weight" class="rounded-md" />
                <div id="current-div"></div>
            </div>
            <div id="goal-weight" class="col-span-1">
                <label class="text-white">Goal Weight: </label>
                <input type="number" id="input-goal-weight" class="rounded-md" />
                <div id="goal-div"></div>
            </div>
        </div>
        <div id="progress" class="text-white">85%
            <div class="w-full h-6 bg-gray-200 rounded-full text-white">
                <div class="h-6 bg-green-600 rounded-full dark:bg-green-700 border border-white" style="width: 85%"></div>
            </div>
        </div>
    </section>
    <section id="workouts-section">
        <div id="completed-workouts"></div>
        <div id="upcoming-workouts"></div>
    </section>
</div>

<script src="/js/dashboard.js"></script>