<div>
    <p class="text-white text-center">Welcome to Fitness Buddy. Please login or create an account to use the app.</p>
    <div>
        <button type="button" class="text-white bg-yellow-400 hover:bg-yellow-500 font-medium rounded-lg text-sm px-5 py-2.5 me-2">Login</button>
        <button type="button" class="text-white bg-green-700 hover:bg-green-800 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2">Sign Up</button>
    </div>
</div>