<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
       {{!-- Tailwinds CSS stylesheet --}}
    <script src="https://cdn.tailwindcss.com"></script>
    {{!-- Custom CSS stylesheet --}}
    <link rel="stylesheet" href="../../public/css/styles.css">
    <title>SignUp</title>
</head>
<body>
    <header class="navbar">
        <nav>
            {{#if loggedIn}}
                <a class="text-white" href="/">Home</a>
                <a class="text-white" href="/dashboard">Dashboard</a>
                <a class="text-white" href="/logout">Logout</a>
            {{else}}
                <a class="text-white" href="/">Home</a>
                <a class="text-white" href="/login">Login</a>
            {{/if}}
        </nav>
    </header>

    <main>
        <form action="/signup" method="POST">
            <label class="text-white" for="name">Name</label>
            <input type="text" name="name" id="name" required>
            <label class="text-white" for="email">Email</label>
            <input type="email" name="email" id="email" required>
            <label class="text-white" for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <button type="submit">Sign Up</button>
        </form>
    

</body>
</html>