
    <main>
        <form action="/signup" method="POST">
            <label class="text-white" for="name">Name</label>
            <input type="text" name="name" id="name" required>
            <label class="text-white" for="email">Email</label>
            <input type="email" name="email" id="email" required>
            <label class="text-white" for="password">Password</label>
            <input type="password" name="password" id="password" required>
            <button type="submit">Sign Up</button>
        </form>
    

</body>
